@import "../public/styles/style.scss";

.App {
  text-align: center;
  height: 100%;
}

.start-section {
  & {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & .start-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 87px;
    height: 87px;

    margin-top: 76px;

    border-radius: 100%;

    background-color: $main-color;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -2px 6px rgba(0, 0, 0, 0.4);
  }

  & .start-button > img {
    margin-right: -5px;
  }

  &__tips {
    margin-top: 47px;

    width: 196px;

    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;

    text-align: center;

    position: relative;
  }

  #arrow-to-btn {
    position: absolute;
    bottom: 27px;
    right: -15px;
  }

  &__logo {
    & {
      position: relative;

      font-family: "Montserrat";
      font-weight: 600;
      font-size: 30px;
    }

    & .green-circle {
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: $main-color;
      position: absolute;

      top: 5px;
    }

    & .green-circle:nth-child(2) {
      left: 40px;
    }

    & .green-circle:nth-child(3) {
      left: 72px;
    }
  }
}

.start-section__logo .logo {
  & {
    position: relative;
    letter-spacing: 0.04em;

    color: $main-color;
  }

  & .letter-image {
    & {
      position: absolute;
    }

    &:nth-child(2) {
      top: 1.5px;
      right: 88.5px;
    }

    &:nth-child(1) {
      top: 8px;
      right: 36px;
    }
  }
}
