@import "../../../public/styles/style.scss";

.probable-diagnoses-page {
    &,
    & .loader-screen {
        min-height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & .loader-screen {
        & {
            gap: 15px;

            font-family: Montserrat;
            font-size: 20px;
            font-weight: 600;

            text-transform: lowercase;

            padding: 0;
        }

        & > span {
            text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.35);
        }
    }

    & .main {
        & {
            padding-top: 36px;
            padding-bottom: 66px;

            display: flex;
            flex-direction: column;
            align-items: center;

            gap: 50px;
        }

        & .page-title {
            font-family: "Montserrat";
            font-weight: 600;
            font-size: 28px;
            text-align: center;

            color: $main-color;
        }
    }

    & .list {
        & {
            gap: 54px;
        }
    }

    & .back-lnk,
    & .back-lnk:visited {
        border: none;
        background: none;

        color: #000;

        font-family: "Montserrat";
        font-weight: 300;
        font-size: 24px;
        text-align: center;

        text-decoration: none;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        width: 89px;

        transition: color ease-in-out 300ms;
    }

    & .back-lnk:active {
        color: rgba(255, 0, 0, 0.7);
    }

    & .back-lnk > img {
        margin-bottom: -5px;
    }
}
