@import "../../../../public/styles/style.scss";

.home-admin-page {
    & {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 60px;
    }

    & h1 {
        font-size: 45px;

        font-weight: 200;

        text-align: center;
    }

    & .action-links {
        & {
            display: flex;
            flex-direction: column;
            justify-content: center;

            gap: 20px;
        }

        & a {
            padding: 7px 10px;

            border: 0.5px solid #000;
            border-radius: 10px;

            background-color: $main-color;

            font-size: 16px;
            font-weight: 600;

            text-align: center;
        }

        & a:visited,
        & a:link,
        & a {
            color: #ffffff;
            text-decoration: none;
        }
    }
}
