@import "./fonts.scss";

$main-color: #14a433;
$h3-color: rgba(20, 164, 51, 0.63);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba($main-color, 0.4);
    border-radius: 20px;
}

.active-text {
    color: $main-color;
}
