.search-select {
    & {
        position: relative;
        width: 300px;

        display: flex;
        align-items: center;
    }

    & #search-icon {
        width: 23px;
        left: 10px;

        position: absolute;
    }

    &__input {
        width: 100%;

        padding: 15px 56px 15px 40px;

        border: 0.5px solid #000000;
        border-radius: 20px;

        outline: none;

        font-size: 18px;
        font-family: "Montserrat";

        font-weight: 400;

        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);

        // transition: border-radius 300ms ease-in-out, box-shadow 300ms ease-in-out;
    }

    &__input.active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        box-shadow: none;
    }

    &__input::placeholder {
        color: rgba(0, 0, 0, 0.6);
    }

    &__button {
        background: transparent;
        border: none;

        position: absolute;

        width: 50px;
        text-align: center;
        right: 0px;

        height: 100%;

        border-left: 0.5px solid #000000;
    }

    &__button > img {
        width: 23px;

        margin-left: -3px;
        margin-bottom: -5px;

        transition: transform 450ms ease-in-out;
    }

    &__button > img.active {
        transform: rotate(180deg);
    }
}
