@import "../../../../public/styles/style.scss";

.disease-add-page {
    & {
        padding: 40px 0;
    }

    & .Toastify {
        position: absolute;
        top: 0;
        right: 0;
    }

    & .page-title {
        color: $main-color;
    }

    h3 {
        color: $h3-color;
    }

    &,
    & .disease-form,
    & .disease-form .tips,
    & .disease-form .disease-symptoms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 30px;
    }

    & .disease-form {
        & {
            border: 0.5px solid #000;
            border-radius: 20px;

            padding: 20px;

            height: initial;
            width: 350px;
            gap: 20px;

            background-color: #ffffff;

            box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
        }

        & .send,
        & .tips .action-buttons button {
            padding: 10px;
            background: $main-color;

            border: 0.5px solid #000;
            border-radius: 20px;

            color: #ffffff;

            font-family: Montserrat;
            font-size: 16px;

            box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
        }

        & .send:active,
        & .tips .action-buttons button:active {
            color: rgba(255, 255, 255, 0.8);
            box-shadow: inset 0px -4px 10px rgba(0, 0, 0, 0.25), inset 0px 4px 10px rgba(0, 0, 0, 0.25);
        }

        & .tips .action-buttons button {
            padding: 5px 7px;
        }

        & .tips .action-buttons button#delete {
            background: #ce813a;
        }

        & > * {
            width: 100%;
        }

        & .tips,
        & .disease-symptoms {
            height: initial;
            gap: 10px;
        }

        & .tips {
            & {
                overflow: hidden;

                height: 300px;
            }

            & .action-buttons {
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }

        & .disease-symptoms .list,
        & .tips .admin-tips-list {
            width: 100%;
        }

        & .tips .admin-tips-list {
            gap: 10px;

            overflow-y: scroll;

            border: 0.5px solid #000;
            border-radius: 20px;

            padding: 15px;

            height: 300px;
        }

        & .tips .admin-tips-list textarea {
            max-height: 150px;
            resize: vertical;
        }

        & .disease-name,
        & .disease-description {
            font-family: Montserrat;
            font-weight: 400;

            outline: none;
            border: 0.5px solid #000;
            border-radius: 20px;

            transition: border ease-in-out 200ms;
        }

        & .disease-name::placeholder,
        & .disease-description::placeholder {
            color: rgba(0, 0, 0, 0.6);
        }

        & .disease-name:focus,
        & .disease-description:focus {
            border: 1.5px solid #000;
        }

        & .disease-name {
            font-size: 16px;

            padding: 7px 12px;
        }

        & .disease-description,
        & textarea {
            padding: 10px 12px;

            resize: vertical;

            min-height: 55px;
            max-height: 270px;

            font-size: 14px;
        }

        & .disease-symptoms {
            & .admin-search-list {
                & input,
                & ul {
                    box-shadow: none;
                }
            }
        }
    }
}
