.symptoms-page {
    & {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        gap: 40px;
    }

    & .tip {
        text-align: center;

        font-family: "Montserrat";

        font-weight: 200;
        font-size: 18px;
    }

    & .movement-links {
        & {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 34px;
        }
    }
}
